{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-header">
                <span class="card-title">Add Company</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="mb-2">
                            {{ form_label(form.siren) }}
                            {{ form_widget(form.siren, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.siren, {'attr': {'class': 'alert-danger'}}) }}
                        </div>
                        <div class="mb-2">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name, {'attr': {'class': 'alert-danger'}}) }}
                        </div>
                        <div class="mb-2">
                            {{ form_label(form.registrationCity) }}
                            {{ form_widget(form.registrationCity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.registrationCity, {'attr': {'class': 'alert-danger'}}) }}
                        </div>
                        <div class="mb-2">
                            {{ form_label(form.registrationDate) }}
                            {{ form_widget(form.registrationDate, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.registrationDate, {'attr': {'class': 'alert-danger'}}) }}
                        </div>
                        <div class="mb-2">
                            {{ form_label(form.capital) }}
                            {{ form_widget(form.capital, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.capital, {'attr': {'class': 'alert-danger'}}) }}
                        </div>
                        <div class="mb-2">
                            {{ form_label(form.legalStatus) }}
                            {{ form_widget(form.legalStatus, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.legalStatus, {'attr': {'class': 'alert-danger'}}) }}
                        </div>

                    </div>
                    <div class="col-8">
                        <button type="button" class="add_item_link"
                                data-list-selector="#address"
                                data-collection-holder-class="address">Add an Address</button>
                        <div class="mb-2">
                            <ul class="address" id="address"
                                data-index="{{ form.address|length > 0 ? form.address|last.vars.name + 1 : 0 }}"
                                data-prototype="{{ form_row(form.address.vars.prototype)|e('html_attr') }}">
                                {% for Add in form.address %}
                                    <li class="card">
                                        <div class="row card-body">
                                            <div class="col-4 mb-2">
                                                {{ form_row(Add.number, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_row(Add.city, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="col-4 mb-2">
                                                {{ form_row(Add.postalCode, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="col-4 mb-2">
                                                {{ form_row(Add.channelType, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_row(Add.channelName, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script type="text/javascript">

       const addFormToCollection = (e) => {
           const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

           const item = document.createElement('li');
           item.classList = 'card';
           collectionHolder.dataset.prototype = `<div class="row card-body">
        <div class="col-4 mb-2">
            <label for="company_historic_address___name___number" class="required">Number</label>
            <input type="text" id="company_historic_address___name___number" name="company_historic[address][__name__][number]"
                   required="required" class="col-4 form-control"/>
        </div>
        <div class="col-4 mb-2">
            <label for="company_historic_address___name___channelType" class="required">Channel type</label>
            <input type="text" id="company_historic_address___name___channelType"
                   name="company_historic[address][__name__][channelType]" required="required"
                   class="col-4 form-control"/>
        </div>
        <div class="col-4 mb-2">
            <label for="company_historic_address___name___channelName" class="required">Channel name</label>
            <input type="text" id="company_historic_address___name___channelName"
                   name="company_historic[address][__name__][channelName]" required="required"
                   class="col-4 form-control"/>
        </div>
        <div class="col-4 mb-2">
            <label for="company_historic_address___name___city" class="required">City</label>
            <input type="text" id="company_historic_address___name___city"
                    name="company_historic[address][__name__][city]" required="required" class="form-control"/>
        </div>
        <div class="col-4 mb-2">
            <label for="company_historic_address___name___postalCode" class="required">Postal code</label>
            <input type="text" id="company_historic_address___name___postalCode"
                   name="company_historic[address][__name__][postalCode]" required="required"
                   class="col-4 form-control"/>
        </div>
    </div>`;
           item.innerHTML = collectionHolder
               .dataset
               .prototype
               .replace(
                   /__name__/g,
                   collectionHolder.dataset.index
               );

           collectionHolder.appendChild(item);

           collectionHolder.dataset.index++;
           addTagFormDeleteLink(item);
       };

       const addTagFormDeleteLink = (item) => {
           const removeFormButton = document.createElement('button');
           removeFormButton.innerText = 'Delete';
           removeFormButton.classList = 'btn-danger';

           item.append(removeFormButton);

           removeFormButton.addEventListener('click', (e) => {
               const address = document.querySelectorAll('ul.address li');
               e.preventDefault();
               if (address.length > 1) {
                   item.remove();
               }
           });
       }

       document
           .querySelectorAll('.add_item_link')
           .forEach(btn => {
               btn.addEventListener("click", addFormToCollection)
           });

       document
           .querySelectorAll('ul.address li')
           .forEach((tag) => {
               addTagFormDeleteLink(tag)
           });

   </script>
{% endblock %}